[package]
name = "bencher"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
cons-rs = {path = "../"}
criterion = "0.4"

[[bench]]
name = "bench"
harness = false
